h1{
    text-align: center;
}

iframe {
    border: none;
    width: 100%;
    height: 2060px;
}

.app_pdf, .sarvice_pdf{
    text-align: center;
}
.app_pdf a, .sarvice_pdf a{
    color: blue!important; 
}
